{% extends 'base.html.twig' %}

{% block title %}Advertisement{% endblock %}

{% block body %}
    <div class="container shadow my-5">
        <div class="row mb-2">
            <div class="col-md-10">
                <h1>{{ advertisement.title }}</h1>
            </div>
            <div class="col-md-2">
                <p class="text-md-right"><span class="badge badge-warning">{{ advertisement.price }} €</span></p>
            </div>
        </div>
        <div class="row pictureRow">
            <div class="col-md-4">
                <img src="{{ vich_uploader_asset(advertisement, 'imageFile') }}" alt="{{ advertisement.title }}" class="img-fluid">
            </div>
            <div class="col-md-8">
                <p>{{ advertisement.description | nl2br }}</p>
                <p class="soldBy mb-0"><b>Vendu par:</b> {{ advertisement.author.username }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 pt-3">
                <p><b>Localisation:</b> {{ advertisement.city }}</p>
            </div>
            <div class="col-md-6 pt-3">
                <p class="text-md-right"><b>Postée le:</b>  </p>
            </div>
        </div>
        {% if user == advertisement.author %}
            <div class="row text-center">
                <a href="{{ path('advertisement_index') }}" class="btn btn-dark float-md-left ml-md-5 mr-md-auto mb-3"><i class="far fa-newspaper"></i> Mes annonces</a>
                    {{ include('advertisement/_delete_form.html.twig') }}
                <a href="{{ path('advertisement_edit', {'id': advertisement.id}) }}" class="btn btn-primary float-md-right mr-md-5 ml-md-auto mb-3"><i class="fas fa-pen-fancy"></i> Modifier</a>
            </div>
        {% endif %}
    </div>
{% endblock %}